CertificationTestSolution/WebApplication1/Service References/AdventureWorks_WcfService/AdventureWorksService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdventureWorksService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3125/AdventureWorksService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3125/AdventureWorksService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3125/AdventureWorksService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.AdventureWorks.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdventureWorksService_GetCustomerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerName" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksService_GetCustomerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksService_GetCustomersWithOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersWithOrders" />
  </wsdl:message>
  <wsdl:message name="IAdventureWorksService_GetCustomersWithOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersWithOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdventureWorksService">
    <wsdl:operation name="GetCustomerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdventureWorksService/GetCustomerName" message="tns:IAdventureWorksService_GetCustomerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdventureWorksService/GetCustomerNameResponse" message="tns:IAdventureWorksService_GetCustomerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersWithOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdventureWorksService/GetCustomersWithOrders" message="tns:IAdventureWorksService_GetCustomersWithOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdventureWorksService/GetCustomersWithOrdersResponse" message="tns:IAdventureWorksService_GetCustomersWithOrders_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdventureWorksService" type="tns:IAdventureWorksService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerName">
      <soap:operation soapAction="http://tempuri.org/IAdventureWorksService/GetCustomerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersWithOrders">
      <soap:operation soapAction="http://tempuri.org/IAdventureWorksService/GetCustomersWithOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdventureWorksService">
    <wsdl:port name="BasicHttpBinding_IAdventureWorksService" binding="tns:BasicHttpBinding_IAdventureWorksService">
      <soap:address location="http://localhost:3125/AdventureWorksService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>