CertificationTestSolution/WebApplication1/Service References/AdventureWorks_WcfService/AdventureWorksService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.AdventureWorks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.AdventureWorks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerNotFoundFault" nillable="true" type="tns:CustomerNotFoundFault" />
</xs:schema>